<h3><%= @report.title %></h3>
<%= form_tag(meta_reports.short_show_path(@report), id: 'meta_reports_report_form') do %>
  <p>
    <%= render "meta_reports/reports/forms/form_#{@report.name}" %>
  </p>
  <p class='form-actions'>
    <% if @report.format? :html %>
      <%= submit_tag 'Display', data: {action: "/reports/#{@report.name}"} %>
    <% end -%>
    <% if @report.format? :pdf %>
      <%= image_submit_tag image_path('meta_reports/print.png'), name: 'format_print', align: 'absmiddle', data: {action: "/reports/#{@report.name}.pdf", target: '_blank'} %>
    <% end -%>
    <% if @report.format? :xlsx %>
      <%= image_submit_tag image_path('meta_reports/spreadsheet.png'), name: 'format_xlsx', align: 'absmiddle', data: {action: "/reports/#{@report.name}.xlsx", target: '_blank'} %>
    <% end -%>
  </p>
<% end %>
