<%
report = @report if defined?(report).nil?
%>
<%= content_tag(:div, :id => report[:id]) do %>
	<%
	title = report[:title]
	title += '<br>'+content_tag(:span, report[:subtitle], :class => 'small') if report[:subtitle]
	%>
	<%= content_tag(:h3, title.html_safe) if title %>
	<div>
    <%= meta_report_alt_links(report[:report], params) %>
    <% if report[:description] %><br><p class='description'><%= report[:description] %></p><% end %>
  </div>

	<%= content_tag(:div, "No data found", :class => 'textcenter') if report[:tables].blank? %>

	<%
	table_names = report[:table_order] || report[:tables].keys.sort_by {|k| k.to_s}
	table_names.each do |table_name| %>
		<%= render partial: 'meta_reports/default_table', locals: {table_name: table_name, table: report[:tables][table_name]} %>
	<% end %>
<% end %>

<% unless request.xhr? || report[:report].nil? %>
	<%= link_to 'Reports', '/meta_reports' %>
<% end -%>
